name: Testing

on: push

jobs:
  testing:
    runs-on: ubuntu-latest

    strategy:
      max-parallel: 1
      matrix:
        node-version: [8.x, 10.x, 12.x]

    steps:
    - uses: actions/checkout@v1

    - name: Cache node modules
      uses: actions/cache@v1
      with:
        path: node_modules
        key: npm-${{ hashFiles('package.json') }}-${{matrix.node-version}}

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: npm install, build and test
      run: |
        npm install
        npm run build
        npm run test
      env:
        CLIENT_EMAIL: ${{secrets.CLIENT_EMAIL }}
        PRIVATE_KEY: ${{secrets.PRIVATE_KEY }}
        FOLDER_ID: ${{secrets.FOLDER_ID }}
